@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Raleway+Dots&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.goku{
  position: static;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(155, 49, 49, 0.6)),url(https://i.pinimg.com/originals/f2/d2/ee/f2d2ee07809be8f0139fb12071bb4d28.gif);
  background-size: cover;
  background-position: center;
}
nav{
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-right: 10%;
  padding-left: 10%;
}
.logo{
  position: static;
  color:rgb(248, 2, 2);
  font-size: 40px;
  font-family: 'Black Ops One', cursive;

}
nav ul li{
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding: 15px 15px;
  font-family: 'Handjet', cursive;
  font-size: 27px;
}
nav ul li a{
  color:white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Handjet', cursive;
}
nav ul li a:hover{
  color:rgb(250, 8, 8);
  transition: 800ms;
  font-family: 'Handjet', cursive;
}
button{
  border:none;
  background: rgb(245, 49, 0);
  padding: 15px 40px;
  border-radius: 100px;
  color: rgb(15, 13, 13);
  font-weight: bold;
  font-size: 20px;
  transition: 500ms;
 font-family: 'Raleway Dots', cursive;

}
button:hover{
  transform: scale(1.20);
  cursor: cell;
  font-family: 'Sedgwick Ave Display', cursive;
}
button a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Sedgwick Ave Display', cursive;
}